/* Reset do Css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/fundo.jpg');
    background-size: auto 100vh;
}

body{
    font-family: arial;
    height: 100vh;
}

@media (min-width: 300px){
    body{
        font-size: 14px;
    }
}

@media (min-width: 400px){
    body{
        font-size: 16px;
    }
}

.menu{
    background-color:darkgrey;
    position: fixed;
    width: 100vw;
    top:0;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    display: block;
    padding: 10px 20px;
}
a{
    color:darkslategrey;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.site-subtitle, .site-title{
    color: black;
    text-align: center;
}

.site-title{
    font-size: 3em;
}

.site-subtitle{
    font-size: italic;
}

img{
    height: 150px;
    width: 150px;
}