/* Reset do Css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url('../img/background.png');
    background-size: 100vw;
    background-position: bottom;
    background-color: #f5b34b;
    font-family: 'Zilla Slab', serif;
    height: 100vh;
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (min-width: 300px){
    body{
        font-size: 14px;
    }
}

@media (min-width: 400px){
    body{
        font-size: 16px;
    }
}

.menu{
    background-color: #324b62;
    position: fixed;
    width: 100vw;
    top:0;
    z-index: 1;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    display: block;
    padding: 10px 20px;
}
a{
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
}

a:hover{
    text-decoration: underline;
}


.titulo{
    margin-bottom: 8rem;
}
.site-title{
    font-size: 3.8em;
    color: whitesmoke;
    margin-right: 12em;
    font-family: 'Share Tech Mono', monospace;

}

.site-subtitle{
    font-size: 1.8em;
    color: #da723b;
    text-align: center;
    font-family: 'VT323', monospace;
    line-height: 0.5em;
    margin-right: 18em;
}

@media (max-width: 1000px){
    .titulo{
        margin-bottom: 0;
    }

    .site-title, .site-subtitle{
        text-align: center;
        margin-right: 0;
    }
}


.sobre, .portfolio{
    min-height: 80vh;
    background-color: #f5b34b;
    padding: 2.5em;
}


.sobre img{
    border: 3px solid whitesmoke;
    border-radius: 50%;
    height: 15em;
    padding: 15px; 
}

.sobre figure{
    text-align: center;
}

.sobre .paragrafos{
    margin-right: 15vh;
    margin-left: 15vh;
    margin-top: 5vh;
}

.sobre p{
    font-size: 1.3em;
    text-indent: 1.5em;
    margin-bottom: 0.2em;
    text-align: justify;
}

.sobre a{
    font-weight: bold;
}


.portfolio .grid{
    display: grid;
    gap: 3em;
    justify-content: center;
    align-content: center;
}

.portfolio h2, 
.contato h2, 
.sobre h2 {
    font-size: 1.8em;
    font-family: 'Share Tech Mono', monospace;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.portfolio figure{
    text-align: center;
}

@media (min-width: 560px){
    .portfolio .grid{
        grid-template-columns: repeat(2,180px);  
    }
}

@media (min-width: 850px){
    .portfolio{
        height: 100vh;
    }
    .portfolio .grid{
        grid-template-columns: repeat(4,180px);
        height: 50vh;
    }
}

.img-portfolio{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    object-position: left bottom;
    transition: transform 500ms;
}

.img-portfolio:hover{
    transform: scale(1.1);
}

.contato{
    height: 50vh;
    padding: 2em;
    background-color: #ecd54f;
}

.contato .icons{
    text-align: center;
    justify-content: space-between;
}

.contato a{
    color: #1C1C1C ;
    font-size: 6em;
    padding: 0.2em;
}

.contato a:active,
.contato a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(0,0,0,.5)
}